body .form {
    --textColor: #101010;
    --Bg: #fff;
    --stepsBg: #f4f4f4;
    --formBg: #F4F4F4;
    --stepsBorder: none;
    --stepText: rgba(16, 16, 16, 0.3);
    --stepActiveBg: #101010;
    --stepActiveText: #ffffff;
    --inputBg: #ffffff;
    --inputBorder: unset;
    --inputTitle: #101010;
    --addFileHintBg: unset;
    --addFileHintColor: #101010;
    --iconColor: #101010;
    --deleteBtnCross: #fff;
}
body.color_yd .form {
    --textColor: #fff;
    --Bg: #1d1d1d;
    --stepsBg: #292929;
    --formBg: #101010;
    --stepsBorder: none;
    --stepText: #acacac;
    --stepActiveBg: #101010;
    --stepActiveText: #ffffff;
    --inputBg: #292929;
    --inputBorder: unset;
    --inputTitle: rgba(255, 255, 255, 0.80);
    --addFileHintBg: invert(1);
    --addFileHintColor: #fff;
    --iconColor: #F9EC00;
    --deleteBtnCross: #101010;
}
body.color_pl .form {
    --textColor: #101010;
    --Bg: #fff;
    --stepsBg: #f1f4f6;
    --formBg: #F1F4F6;
    --stepsBorder: none;
    --stepText: rgba(16, 16, 16, 0.3);
    --stepActiveBg: #101010;
    --stepActiveText: #ffffff;
    --inputBg: #ffffff;
    --inputBorder: unset;
    --inputTitle: #101010;
    --addFileHintBg: unset;
    --addFileHintColor: #fff;
    --iconColor: #101010;
    --deleteBtnCross: #fff;
}
body.color_pd .form {
    --textColor: #fff;
    --Bg: #101010;
    --stepsBg: #101010;
    --formBg: #101010;
    --stepsBorder: 0.1rem solid rgba(255, 255, 255, 0.2);
    --stepText: #acacac;
    --stepActiveBg: #d01181;
    --stepActiveText: #ffffff;
    --inputBg: #101010;
    --inputBorder: 0.1rem solid rgba(255, 255, 255, 0.2);
    --inputTitle: rgba(255, 255, 255, 0.80);
    --addFileHintBg: invert(1);
    --addFileHintColor: #101010;
    --iconColor: #d01181;
    --deleteBtnCross: #101010;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    &__bg {
        width: 120.8rem;
        padding: 3.2rem 2.4rem;
        border-radius: 1.6rem;
        background: var(--formBg);
        border: var(--inputBorder);
    }
    &__item {
        display: grid;
        grid-template-columns: 19.2rem 1fr;
        gap: 3.2rem;

        &.active {
            z-index: 1;
        }

        &_check {
            .form__name {
                margin-bottom: auto;
            }
        }
    }
    &__name {
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        display: flex;
        align-items: center;
        color: var(--textColor);
    }
    &__input {
        padding: 1.8rem 1.6rem;
        border-radius: 1.6rem;
        background: #FFF;
        height: 6rem;
        display: flex;
        align-items: center;

        .input {
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 500;
            line-height: 93.75%;
            width: 100%;

            &.required {
                background: url(../../assets/images/common/required.svg) no-repeat;
                background-position: right center;
                background-size: 2.4rem;
            }
        }
    }
    &__dropdown {
        position: relative;

        &_top {
            padding: 1.8rem 1.6rem;
            border-radius: 1.6rem;
            background-color: var(--inputBg);
            color: var(--textColor);
            border: var(--inputBorder);
            height: 6rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;

            span {
                color: #ACACAC;
                font-size: 1.6rem;
                font-style: normal;
                font-weight: 500;
                line-height: 93.75%;

                &.active {
                    color: var(--textColor);
                }
            }
            input {
                font-size: 1.6rem;
                font-style: normal;
                font-weight: 500;
                line-height: 93.75%;
                width: 100%;
            }

            &.open {

                svg {
                    transform: rotate(-180deg);
                }
                
            }

            svg {
                width: 1.2rem;
                height: 2.4rem;
                margin-right: 0.5rem;
                transition: transform 0.5s ease-in-out;

                path {
                    stroke: var(--iconColor);
                }
            }
        }
        &_bottom {
            display: none;
            padding: 1.6rem;
            width: 100%;
            border-radius: 1.6rem;
            background-color: var(--inputBg);
            color: var(--textColor);
            border: var(--inputBorder);
            box-shadow: 0 0.3rem 1.4rem 0 rgba(0, 0, 0, 0.08);
            z-index: 10;
            position: absolute;
            top: 6rem;
        }
        &_list {
            max-height: 27.2rem;
            overflow: auto;
            padding-right: 1.6rem;

            &::-webkit-scrollbar {
                width: 0.4rem;
            }
            
            &::-webkit-scrollbar-track {
                background: #F4F4F4;
                border-radius: 100px;
            }
            
            &::-webkit-scrollbar-thumb {
                background: #D7D7D7;
                border-radius: 100px;
            }
            
            &::-webkit-scrollbar-thumb:hover {
                background: #D7D7D7;
            }
            
            &:last-child {
                border-bottom: unset;
            }

        }
        &_item {
            display: flex;
            align-items: center;
            padding: 0.8rem 0;
            border-bottom: 0.1rem solid rgba(161, 172, 185, 0.20);
            cursor: pointer;


            &_photo {
                width: 3.2rem;
                height: 3.2rem;
                border-radius: 50%;
                margin-right: 0.6rem;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
            &_name {
                font-size: 1.6rem;
                font-style: normal;
                font-weight: 500;
                line-height: 93.75%;
            }
            &_checkbox {
                margin-left: auto;
            }
        }
    }
    &__btn {
        width: fit-content;
        margin-left: auto;

        &:disabled {
            background: #FFF;
            color: #10101066;
        }
    }
    &__grid {
        display: grid;
        gap: 1.6rem;
        grid-template-columns: 1fr 1fr;

        &-item {
            height: 6.8rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            border-radius: 1.6rem;
            background: var(--inputBg);
            padding: 0 1.6rem;
            border: var(--inputBorder);

            span {
                font-size: 1.6rem;
                font-style: normal;
                font-weight: 500;
                line-height: 120%;
                color: var(--textColor);
            }

            .radio-icon {
                width: 2.4rem;
                height: 2.4rem;
            }
        }
    }

    &__title {
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: 0.024rem;
        margin-bottom: 4rem;
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        margin-bottom: 4rem;
    }

    &__item {
        &--textarea {
            align-items: start;
            color: var(--textColor);

            .form__input{
                flex-direction: column;
                gap: unset;
                color: var(--textColor);
                border: var(--inputBorder);

                & input::placeholder{
                    color: #ACACAC;
                }
            }

            textarea {
                width: 100%;
                resize: none;
                height: 15.7rem;
                font-weight: 500;
                color: var(--textColor);
            }

            .max-length, .max-length span{
               align-self: flex-end;
                color: #ACACAC;
                font-size: 1.2rem;
                line-height: 125%;
                font-weight: 500;
            }
        }
    }

    &__input {
        height: unset;
        background-color: var(--inputBg);
        color: var(--textColor);
        border: var(--inputBorder);
        display: flex;
        gap: 2rem;

        &--file {
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: end;

            input {
                display: none;
            }

            &__col{
                display: flex;
                flex-direction: column-reverse;
            }

            &__restr {
                font-weight: 500;
            }

            &__icon {
                cursor: pointer;
                width: 2.4rem;
                height: 2.4rem;
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    width: 1.4rem;
                    height: 1.6rem;

                    path {
                        stroke: var(--iconColor);
                    }
                }
            }
        }
    }

    &__btns {
        justify-content: flex-end;
        display: flex;
        gap: 4rem;
        align-items: center;

        .go-back-link {
            letter-spacing: 0.016rem;
            position: relative;
            color: var(--textColor);

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                right: 0;
                left: 0;
                width: 100%;
                height: 0.1rem;
                background-color: var(--textColor);
            }
        }
    }

    &__btn {
        width: 34.2rem;
    }

    &__name--file {
        position: relative;

        svg {
            cursor: pointer;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 2rem;
            width: 1.4rem;
            height: 1.4rem;
            path{
                stroke: var(--iconColor)
            }

            &:hover {
                & ~ .add-file-hint {
                    opacity: 1;
                }
            }
        }

        .add-file-hint {
            position: absolute;
            z-index: 10;
            top: 25%;
            right: -92%;
            opacity: 0;
            transition: opacity 0.2s ease;
            width: 19.2rem;
            height: 8.1rem;
            color: var(--Bg);
            font-size: 1.4rem;
            font-weight: 400;
            letter-spacing: 0.014rem;
            padding: 0.8rem 1rem 0.9rem 1.8rem;

            background-image: url("./../../assets/images/common/hint-bg.svg");
            background-size: 19.2rem 8.1rem;
            background-repeat: no-repeat;
            filter: var(--addFileHintBg);
            color: #fff;
        }
    }

    &__thumbnails-container {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
    }

    &__thumbnail {
        position: relative;
        margin-bottom: 2.85rem;
        &__img {
            width: 6rem;
            height: 6rem;
            border-radius: 1.6rem;
            overflow: hidden;
            
        }

        &__btn-delete{
            position: absolute;
            top: -0.8rem;
            right: -0.8rem;

            svg{
                width: 2.4rem;
                height: 2.4rem;
            }
        }
    }
    &__check {
        padding: 1.8rem 1.6rem;
        border-radius: 1.6rem;
        background-color: var(--inputBg);
        color: var(--textColor);
        border: var(--inputBorder);

        .executor-list__option:last-child {
            border-bottom: unset;
        }
    }

    &_interval {
        display: flex;
        align-items: center;

        &_name {
            flex: 0;
            margin-right: 2rem;
            margin-left: 2rem;
            color: var(--inputTitle);
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;

            &:first-child {
                margin-left: 0;
            }
        }

        .form__dropdown {
            flex: 1;
        }
    }
}

.modal__edit-employee--add {
    .adding_application__item_input {
        margin-bottom: 5.4rem;
    }
    .form__item {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
    }
    .modal__edit-employee__list {
        overflow: auto;
        max-height: 50vh;
    }
}