.modal__create {
    .modal-wrapper {
        width: 83.5rem;
        padding: 4rem 2rem 2rem;
    }
    &__title {
        font-size: 3.2rem;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: 0.032rem;
        margin-bottom: 4rem;
        text-align: center;
    }
    &__form {
        &_list {
            display: flex;
            flex-direction: column;
            margin-bottom: 5.6rem;
        }
        &_item {
            display: flex;
            padding: 1rem 0;
            border-bottom: 0.1rem solid rgba(161, 172, 185, 0.2);
            cursor: pointer;

            span {
                flex: 1;
                font-size: 1.6rem;
                font-style: normal;
                font-weight: 500;
                line-height: 93.75%;
            }
            .radio-icon {
                flex: none;
            }
        }
        .btn {
            margin: auto;
        }
    }
}
