.modal__move-choice {
    &__title {
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: 0.024rem;
        margin-bottom: 2.4rem;
        text-align: center;
    }
    &__text {
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 4rem;
    }
    .btn__move-choice-final {
        padding: 0;
        width: 100%;
        height: 5.1rem;
        display: flex;
        align-content: center;
        margin-bottom: 0.8rem;
    }
    .btn__move-choice-exit {
        padding: 0;
        width: 100%;
        height: 5.1rem;
        display: flex;
        align-content: center;
        background: #D7D7D7;
    }
    .modal-wrapper {
        width: 59.2rem;
        padding: 4rem;
    }
}