body .modal__change-work {
    --workImgFilter: invert(0);
}
body.color_yd .modal__change-work {
    --workImgFilter: invert(1);
}
body.color_pl .modal__change-work{
    --workImgFilter: invert(0);
}
body.color_pd .modal__change-work{
    --workImgFilter: invert(1);
}

.modal__change-work {
    .modal-wrapper {
        width: 83.5rem;
    }

    .modal-content{
        display: flex;
        flex-direction: column;
        gap: 4rem;
        align-items: center;
    }

    &__title {
        font-size: 3.2rem;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: 0.032rem;
    }

    &__options{
        margin-bottom: 1rem;
        padding: 1.6rem;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__option{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.8rem;
        height: 4.6rem;
        border-bottom: 0.1rem solid rgba(161, 172, 185, 0.20);
    }

    &__company{
        img{
            max-width: 12.6rem;
            max-height: 2.8rem;
            filter: var(--workImgFilter);
        }
    }
}
