body .modal__sms {
    --borderAdd: none;
    --inputBg:#F4F4F4;
}

body.color_yd .modal__sms {
    --borderAdd: none;
    --inputBg:#292929;
}

body.color_pl .modal__sms {
    --borderAdd: none;
    --inputBg:#F4F4F4;
}

body.color_pd .modal__sms {
    --borderAdd: 0.1rem solid rgba(255, 255, 255, 0.20);
    --inputBg:#101010;
}

.modal__sms {
    .modal-wrapper {
        padding: 4rem;
    }
    &__title {
        text-align: center;
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: 0.024rem;
        margin-bottom: 1.6rem;
    }
    &__subtitle {
        text-align: center;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: 0.016rem;
        margin-bottom: 4rem;
    }
    &__boxs {
        display: flex;
        gap: 0.8rem;
        margin-bottom: 1.6rem;

    }
    &__box {
        border-radius: 0.8rem;
        background: var(--inputBg);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 6.1rem;
        height: 6.8rem;
        overflow: hidden;
        border: var(--borderAdd);

        input {
            font-size: 3.2rem;
            font-style: normal;
            font-weight: 500;
            line-height: 100%;
            letter-spacing: 0.032rem;
            text-align: center;
        }
    }
    &__wait {
        color: #ACACAC;
        text-align: center;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        letter-spacing: 0.016rem;
        margin-bottom: 4rem;
    }
    &__new {
        color: #101010;
        text-align: center;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: 0.016rem;
        margin-bottom: 4rem;
        cursor: pointer;
        display: none;
    }
    &__exit {
        text-align: center;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        display: block;
    }

    &--login{
        .modal-wrapper{
        left: 50%;
        }
    }
}