body .adding_application_template,
body .adding_application {
    --mainTheme: #f9ec00;
    --mainThemeColor: #000;
    --borderAdd: none;
    --normalTextColor: #101010;
    --subTextColor: #acacac;
    --reversTextColor: #fff;
    --switchBtn: #f4f4f4;
    --switchBtnActive: #101010;
    --switchBtnActiveColor: #fff;
    --backgroundCard: #f4f4f4;
    --settingsSwitchActive: #101010;
    --settingsSwitchActiveColor: #fff;
    --inputBg: #fff;
    --tabs: #acacac;
    --tabsActive: #292929;
    --footerBorder: #d7d7d7;
    --cross: #101010;
    --crossIneer: #fff;
    --appBG: #fff;
    --appBGColor: #101010;
    --bodyBg: #fff;
    --appBtnBG: #d7d7d7;
    --appBtnBGColor: #101010;
    --btnDeleteFill: #101010;
    --btnDeleteStroke: #fff;
    --inputInnerBg: #f4f4f4;
}
body.color_yd .adding_application_template,
body.color_yd .adding_application {
    --mainTheme: #f9ec00;
    --mainThemeColor: #101010;
    --borderAdd: none;
    --normalTextColor: #ffffff;
    --subTextColor: #acacac;
    --reversTextColor: #101010;
    --switchBtn: #292929;
    --switchBtnActive: #f9ec00;
    --switchBtnActiveColor: #101010;
    --backgroundCard: #101010;
    --settingsSwitchActive: #f9ec00;
    --settingsSwitchActiveColor: #101010;
    --inputBg: #292929;
    --tabs: rgba(255, 255, 255, 0.3);
    --tabsActive: #fff;
    --footerBorder: #292929;
    --cross: #292929;
    --crossIneer: #fff;
    --appBG: #292929;
    --appBGColor: #fff;
    --bodyBg: #1d1d1d;
    --appBtnBG: #fff;
    --appBtnBGColor: #101010;
    --btnDeleteFill: #f9ec00;
    --btnDeleteStroke: #101010;
    --inputInnerBg: #fff;
}
body.color_pl .adding_application_template,
body.color_pl .adding_application {
    --mainTheme: #d01181;
    --mainThemeColor: #ffffff;
    --borderAdd: none;
    --normalTextColor: #101010;
    --subTextColor: #acacac;
    --reversTextColor: #fff;
    --switchBtn: #f4f4f4;
    --switchBtnActive: #d01181;
    --switchBtnActiveColor: #fff;
    --backgroundCard: #f1f4f6;
    --settingsSwitchActive: #101010;
    --settingsSwitchActiveColor: #fff;
    --inputBg: #fff;
    --tabs: #acacac;
    --tabsActive: #292929;
    --footerBorder: #d7d7d7;
    --cross: #101010;
    --crossIneer: #fff;
    --appBG: #fff;
    --appBGColor: #101010;
    --bodyBg: #fff;
    --appBtnBG: #a1acb9;
    --appBtnBGColor: #fff;
    --btnDeleteFill: #101010;
    --btnDeleteStroke: #fff;
    --inputInnerBg: #f1f4f6;
}
body.color_pd .adding_application_template,
body.color_pd .adding_application {
    --mainTheme: #d01181;
    --mainThemeColor: #ffffff;
    --borderAdd: 0.1rem solid rgba(255, 255, 255, 0.2);
    --normalTextColor: #ffffff;
    --subTextColor: #acacac;
    --reversTextColor: #101010;
    --switchBtn: #101010;
    --switchBtnActive: #d01181;
    --switchBtnActiveColor: #fff;
    --backgroundCard: #101010;
    --settingsSwitchActive: #d01181;
    --settingsSwitchActiveColor: #fff;
    --inputBg: #101010;
    --tabs: rgba(255, 255, 255, 0.3);
    --tabsActive: #fff;
    --footerBorder: #292929;
    --cross: #292929;
    --crossIneer: #fff;
    --appBG: #fff;
    --appBGColor: #101010;
    --bodyBg: #101010;
    --appBtnBG: #fff;
    --appBtnBGColor: #101010;
    --btnDeleteFill: #d01181;
    --btnDeleteStroke: #101010;
    --inputInnerBg: #292929;
}

.adding_application {
    &_template__title {
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: 0.024rem;
        color: var(--normalTextColor);
    }

    &__container {
        display: flex;
        gap: 2rem;
    }
    &__main {
        flex: 1;
        border-radius: 1.6rem;
        background: var(--backgroundCard);
        padding: 3.2rem 2.4rem;
        position: relative;
        z-index: 1;
        border: var(--borderAdd);
    }
    &__photo {
        width: 29rem;
        height: 84.4rem;
        border-radius: 1.6rem;
        background: var(--backgroundCard);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border: var(--borderAdd);

        &_empty {
            width: 8rem;
            height: 8rem;

            path {
                stroke: var(--footerBorder);
            }
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 1.6rem;
        }

        &_add {
            width: 4rem;
            height: 4rem;
            position: absolute;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--bodyBg);
            cursor: pointer;
            top: -0.4rem;
            right: -0.4rem;

            &::before {
                content: "";
                display: flex;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: var(--settingsSwitchActive);
                width: 3.2rem;
                height: 3.2rem;
                border-radius: 50%;
            }

            svg {
                width: 2.4rem;
                height: 2.4rem;
                z-index: 1;

                path {
                    stroke: var(--switchBtnActiveColor);
                }
            }
            input {
                display: none;
            }
        }
    }

    &__subtitle {
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: 0.024rem;
        margin-bottom: 3.2rem;
        color: var(--normalTextColor);
    }
    &__title {
        margin-bottom: 2rem;
        display: flex;
        gap: 1rem;
        align-items: center;
        color: var(--normalTextColor);
        &:hover {
            svg {
                display: block;
            }
        }
        span {
            font-size: 3.2rem;
            font-style: normal;
            font-weight: 500;
            line-height: 100%;
            letter-spacing: 0.032rem;
        }
        svg {
            display: none;
            cursor: pointer;
            width: 2.4rem;
            height: 2.4rem;

            path {
                fill: var(--settingsSwitchActive);
                stroke: var(--settingsSwitchActive);
            }
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 3.2rem;
    }
    &__item {
        display: flex;
        align-items: flex-start;
        position: relative;

        &_top {
            display: flex;
            align-items: center;
            position: relative;
            width: 100%;
        }

        &--big {
            .adding_application__item_input {
                height: 13.3rem;
                padding-bottom: 7.3rem;
            }
        }

        &--interval {
            .adding_application__item_input_inner {
                background-color: var(--inputInnerBg);
                border-radius: 1.2rem;
                padding: 0.8rem;
                width: 24rem;
                margin-right: 1rem;
            }
        }

        &--subtitle {

            .adding_application__item_input{
                height: 2.4rem;
            }

            .adding_application__item_name {
                padding-top: 0.4rem;

                svg {
                    top: 0;
                }
            }

            .adding_application__item_position {
                padding-top: unset;
            }

            .adding_application__item_name span {
                font-size: 1.8rem;
                color: var(--normalTextColor);
                font-weight: 500;
                max-width: 100rem;
            }
        }

        &--text {
            .adding_application__item_name span {
                color: var(--normalTextColor);
                max-width: 100rem;
            }

            .adding_application__item_input {
                height: 2.4rem;
            }

            .adding_application__item_name {
                padding-top: 0.4rem;

                svg {
                    top: 0;
                }
            }

            .adding_application__item_position {
                padding-top: unset;
            }
        }

        &--checkbox {
            .adding_application__item_input {
                margin-left: 26.4rem;
            }

            & + & {
                margin-top: 1rem;
            }
        }

        &:hover {
            .adding_application__item_name {
                svg {
                    display: block;
                }
            }
        }

        &_position {
            width: 2.4rem;
            height: 2.4rem;
            margin-right: 1.6rem;
            cursor: move;
            flex: none;
            padding-top: 2rem;

            svg {
                width: 2.4rem;
                height: 2.4rem;
            }
        }

        &_name {
            padding-top: 2.4rem;
            display: flex;
            align-items: center;
            width: 19.2rem;
            margin-right: 3.2rem;
            position: relative;

            span {
                color: #acacac;
                font-size: 1.6rem;
                font-style: normal;
                font-weight: 500;
                line-height: 93.75%;
            }
            svg {
                display: none;
                cursor: pointer;
                width: 2.4rem;
                height: 2.4rem;
                margin-left: auto;
                flex: none;

                position: absolute;
                right: -2rem;
                top: 2rem;

                path {
                    fill: var(--settingsSwitchActive);
                    stroke: var(--settingsSwitchActive);
                }
            }
        }

        &_input-wrapper {
            display: flex;
            flex-direction: column;
            gap: 0.4rem;
        }

        &_hint {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.8rem 1.6rem;

            span {
                color: #acacac;
            }
        }

        &_input {
            width: 89.6rem;
            height: 6rem;
            border-radius: 1.6rem;
            background: var(--inputBg);
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 1.6rem;
            position: relative;
            border: var(--borderAdd);

            &.transparent {
                background-color: transparent;
                border: none;
            }

            &_text {
                color: #acacac;
                font-size: 1.6rem;
                font-style: normal;
                font-weight: 500;
                line-height: 93.75%;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;

                &.required {
                    background: url(../../assets/images/common/required.svg) no-repeat;
                    background-position: right center;
                    background-size: 2.4rem;
                }
            }

            &_tags{
                width: 80.8rem;
                overflow: hidden;

                .swiper-slide{
                    width: fit-content;
                    height: fit-content;
                    margin-right: 1rem;
                }
            }

            .swiper-button-next{
                display: none;
                margin-left: auto;

                &:disabled{
                    background-color: transparent !important;
                }

                svg{
                    width: 2.4rem;
                    height: 2.4rem;

                    path{
                        stroke: var(--settingsSwitchActive);
                    }
                }

            }
        }
        &_settings {
            width: 2.4rem;
            height: 2.4rem;
            cursor: pointer;
            margin-left: 1rem;

            svg {
                width: 2.4rem;
                height: 2.4rem;

                circle {
                    fill: var(--settingsSwitchActive);
                    stroke: var(--settingsSwitchActive);
                }
            }
        }
        &_box {
            display: none;
            position: absolute;
            border-radius: 1.6rem;
            background: var(--inputBg);
            box-shadow: 0 0.3rem 1.4rem 0 rgba(0, 0, 0, 0.08);
            padding: 1.6rem;
            width: 28.9rem;
            right: -20rem;
            top: 4rem;
            color: var(--normalTextColor);
            border: var(--borderAdd);
            z-index: 2;
        }
        &_choices {
            display: flex;
            flex-direction: column;
        }
        &_choice {
            padding: 0.8rem 0;
            border-bottom: 1px solid rgba(161, 172, 185, 0.2);
            display: flex;
            justify-content: space-between;
            cursor: pointer;

            &:last-child {
                border-bottom: unset;
            }
        }

        .file-icon {
            width: 2.4rem;
            height: 2.4rem;

            path {
                fill: var(--btnDeleteFill);
                stroke: var(--btnDeleteFill);
            }
        }
    }
    &__bottom {
        display: flex;
        gap: 1.2rem;

        &_add {
            width: 5.1rem;
            height: 5.1rem;
            cursor: pointer;
            margin-left: auto;

            svg {
                width: 5.1rem;
                height: 5.1rem;

                circle {
                    fill: var(--mainTheme);
                }
                path {
                    stroke: var(--mainThemeColor);
                }
            }
        }
        &_btn {
            cursor: pointer;
            height: 5.1rem;
            padding: 0;
            width: 41.7rem;
            background: var(--appBtnBG);
            color: var(--appBtnBGColor);
        }
    }

    .inner-tag {
        width: fit-content;
        padding: 0.8rem;
        background-color: var(--inputInnerBg);
        display: flex;
        gap: 0.9rem;
        border-radius: 1.2rem;
        font-weight: 500;

        span {
            white-space: nowrap;
            max-width: 60rem;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    .delete-hint {
        width: 2.4rem;
        height: 2.4rem;
        cursor: pointer;

        circle {
            fill: var(--btnDeleteFill);
        }

        path {
            stroke: var(--btnDeleteStroke);
        }
    }
}
