body .users {
    --mainTheme:#F9EC00;
    --mainThemeColor:#000;
    --borderAdd: none;
    --normalTextColor: #101010;
    --subTextColor: #ACACAC;
    --reversTextColor: #FFF;
    --switchBtn: #f4f4f4;
    --switchBtnActive: #101010;
    --switchBtnActiveColor: #FFF;
    --backgroundCard: #F4F4F4;
    --settingsSwitchActive: #101010;
    --settingsSwitchActiveColor: #FFF;
    --inputBg:#FFF;
    --tabs: #ACACAC;
    --tabsActive: #292929;
    --footerBorder: #D7D7D7;
    --cross: #101010;
    --crossIneer: #FFF;
    --appBG: #FFF;
    --appBGColor: #101010;
}
body.color_yd .users {
    --mainTheme:#F9EC00;
    --mainThemeColor:#101010;
    --borderAdd: none;
    --normalTextColor: #FFFFFF;
    --subTextColor: #ACACAC;
    --reversTextColor: #101010;
    --switchBtn: #292929;
    --switchBtnActive: #F9EC00;
    --switchBtnActiveColor: #101010;
    --backgroundCard: #101010;
    --settingsSwitchActive: #F9EC00;
    --settingsSwitchActiveColor: #101010;
    --inputBg:#292929;
    --tabs: rgba(255, 255, 255, 0.30);
    --tabsActive: #FFF;
    --footerBorder: #292929;
    --cross: #292929;
    --crossIneer: #FFF;
    --appBG: #292929;
    --appBGColor: #FFF;
}
body.color_pl .users {
    --mainTheme:#D01181;
    --mainThemeColor:#FFFFFF;
    --borderAdd: none;
    --normalTextColor: #101010;
    --subTextColor: #ACACAC;
    --reversTextColor: #FFF;
    --switchBtn: #f4f4f4;
    --switchBtnActive: #D01181;
    --switchBtnActiveColor: #FFF;
    --backgroundCard: #F1F4F6;
    --settingsSwitchActive: #101010;
    --settingsSwitchActiveColor: #FFF;
    --inputBg:#FFF;
    --tabs: #ACACAC;
    --tabsActive: #292929;
    --footerBorder: #D7D7D7;
    --cross: #101010;
    --crossIneer: #FFF;
    --appBG: #FFF;
    --appBGColor: #101010;
}
body.color_pd .users {
    --mainTheme:#D01181;
    --mainThemeColor:#FFFFFF;
    --borderAdd: 0.1rem solid rgba(255, 255, 255, 0.20);
    --normalTextColor: #FFFFFF;
    --subTextColor: #ACACAC;
    --reversTextColor: #101010;
    --switchBtn: #101010;
    --switchBtnActive: #D01181;
    --switchBtnActiveColor: #FFF;
    --backgroundCard: #101010;
    --settingsSwitchActive: #D01181;
    --settingsSwitchActiveColor: #FFF;
    --inputBg:#101010;
    --tabs: rgba(255, 255, 255, 0.30);
    --tabsActive: #FFF;
    --footerBorder: #292929;
    --cross: #292929;
    --crossIneer: #FFF;
    --appBG: #FFF;
    --appBGColor: #101010;
}

.applications {
    &__container {
        display: flex;
        gap: 2rem;
    }
    &__item {
        width: 29rem;
        border-radius: 1.6rem;
        background: var(--backgroundCard);
        padding: 2rem 2.4rem;
        border: var(--borderAdd);

        &.show_change {
            .applications__item_head_photo_add {
                display: flex;
            }
            .applications__item_head_name {
                svg {
                    display: inline-block;
                }
            }
            .applications__box_delete {
                display: block;
            }
            .applications__item_footer_change {
                display: none;
            }
            .applications__item_head_name {
                display: block;
            }
            .applications__item_save {
                display: flex;
            }
            // .applications__box {
            //     pointer-events: none;
            // }
        }

        &.active {
            z-index: 2;
        }

        &_head {
            display: flex;
            margin-bottom: 3rem;
            margin-right: -0.8rem;
            position: relative;
            z-index: 1;

            &_photo {
                width: 5rem;
                height: 5rem;
                margin: auto 1rem auto 0;
                flex: none;
                position: relative;

                &.empty {
                    border-radius: 50%;
                    background: #D7D7D7;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .applications__item_head_photo_add {
                        display: flex;
                    }
                }

                &_add {
                    // display: flex;
                    display: none;
                    align-items: center;
                    justify-content: center;
                    background: var(--backgroundCard);
                    position: absolute;
                    width: 2.5rem;
                    height: 2.5rem;
                    border-radius: 50%;
                    position: absolute;
                    right: -0.5rem;
                    top: -0.5rem;
                    cursor: pointer;

                    &::after {
                        content: '';
                        width: 2rem;
                        height: 2rem;
                        background: var(--settingsSwitchActive);
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        border-radius: 50%;
                        transform: translate(-50%, -50%);
                    }

                    svg {
                        width: 1rem;
                        height: 1rem;
                        position: relative;
                        z-index: 1;

                        path {
                            stroke: var(--settingsSwitchActiveColor);
                        }
                    }
                    input {
                        display: none;
                    }
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
            &_settings {
                width: 2.4rem;
                height: 2.4rem;
                flex: none;
                cursor: pointer;

                svg {
                    width: 2.4rem;
                    height: 2.4rem;

                    circle {
                        fill: var(--settingsSwitchActive);
                        stroke: var(--settingsSwitchActive);
                    }
                }
            }
            &_name {
                flex: 1;
                display: flex;
                align-items: center;
                color: var(--normalTextColor);

                span {
                    font-size: 2rem;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }
                &_sub {
                    span {
                        font-size: 1.6rem;
                    }
                }

                svg {
                    display: none;
                    width: 2.4rem;
                    height: 2.4rem;
                    cursor: pointer;

                    path {
                        fill: var(--settingsSwitchActive);
                        stroke: var(--settingsSwitchActive);
                    }
                }
            }

            &_box {
                position: absolute;
                display: none;
                width: 34.3rem;
                border-radius: 1.6rem;
                background: var(--inputBg);
                color: var(--normalTextColor);
                box-shadow: 0 0.3rem 1.4rem 0 rgba(0, 0, 0, 0.08);
                padding: 1.6rem;
                right: -33rem;
                top: 2rem;
                border: var(--borderAdd);
            }

            &_choices {
                display: flex;
                flex-direction: column;
            }
            &_choice {
                padding: 1rem 0;
                border-bottom: 0.1rem solid rgba(161, 172, 185, 0.20);
                cursor: pointer;
                &:last-child {
                    border-bottom: none;
                }
            }
        }
        &_footer {
            margin: 0 -2.4rem;
            padding: 2rem 2.4rem 0;
            border-top: 0.1rem solid var(--footerBorder);
            &_change {
                display: flex;
                align-items: center;
                gap: 1.2rem;
                cursor: pointer;
                color: var(--normalTextColor);

                span {
                    font-size: 1.6rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
                svg {
                    width: 2.4rem;
                    height: 2.4rem;
                    flex: none;

                    circle {
                        fill: var(--mainTheme);
                    }
                    path {
                        stroke: var(--mainThemeColor);
                    }
                }
            }

            .applications__item_save {
                padding: 0;
                height: 3.8rem;
                width: 100%;
                display: none;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }
        }

        &_body {
            margin: -2rem -2.4rem 0;
            padding: 2rem 2.4rem 0;
            // height: calc(100vh - 8.3rem - 5.8rem - 2rem - 32rem);
            height: 60rem;
            overflow: auto;
            -ms-overflow-style: none;
            scrollbar-width: none;
            display: flex;
            flex-direction: column;
            gap: 1.6rem;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
    &__box {
        position: relative;

        &_img {
            width: 100%;
            height: 7.6rem;
            border-radius: 1.6rem 1.6rem 0 0;

            img {
                border-radius: 1.6rem 1.6rem 0 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &.empty {
                display: flex;
                align-items: center;
                justify-content: center;
                background: #D7D7D7;
            }
            &_add {
                position: absolute;
                right: -1rem;
                top: -1rem;

                svg {
                    width: 3.2rem;
                    height: 3.2rem;

                    circle {
                        fill: var(--mainTheme);
                    }
                    path {
                        stroke: var(--mainThemeColor);
                    }
                }

                input {
                    display: none;
                }
            }
        }
        &_name {
            border-radius: 0 0 1.6rem 1.6rem;
            background: var(--appBG);
            color: var(--appBGColor);
            height: 6rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            span {
                text-align: center;
                font-size: 1.6rem;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }
        &_delete {
            display: none;
            width: 2.4rem;
            height: 2.4rem;
            position: absolute;
            right: -0.8rem;
            top: -0.8rem;
            cursor: pointer;

            circle {
                fill: var(--cross);
            }
            path {
                stroke: var(--crossIneer);
            }
        }

        &_worker {
            .applications__box_img {
                height: 11.2rem;
            }
            .applications__box_name {
                height: auto;
                padding: 1.2rem;
                gap: 0.8rem;

                span {
                    font-size: 1.6rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 0.016rem;
                }
                &_subtitle {
                    color: #ACACAC;
                }
            }
            .applications__box_delete {
                display: block;
            }
        }
    }
}