body .incoming-requests {
    --normalTextColor: #101010;
    --subTextColor: #acacac;
    --reversTextColor: #fff;
    --switchBtn: #f4f4f4;
    --switchBtnActive: #101010;
    --switchBtnActiveColor: #fff;
    --switchBtnSpan: #f9ec00;
    --switchBtnSpanColor: #101010;
    --switchBtnActiveSpan: #f9ec00;
    --switchBtnActiveSpanColor: #101010;
    --viewBg: #d7d7d7;
    --viewCircle: #f4f4f4;
    --viewColor: #aaaaaa;
    --viewColorActive: #101010;
    --ItemBg: #f4f4f4;
    --itemColor: #101010;
    --itemBorder: rgba(161, 172, 185, 0.2);
    --notif: #f9ec00;
    --notifColor: #101010;
    --notifCancel: #bb2323;
    --btnBg: #fff;
    --btnBgSVG: #101010;
    --btnBgActive: #101010;
    --btnBgActiveSVG: #fff;
    --btnBgActiveSVGrow: #101010;
    --btnBorder: unset;
    --searchBg: #f4f4f4;
    --filterBg: #f4f4f4;
    --filterBorder: unset;
    --unreadBg: #F4F4F4;
    --readBg: #ffffff;
    --unreadBorder: none;
    --readBorder: 0.1rem solid #D7D7D7;
}
body.color_yd .incoming-requests {
    --normalTextColor: #ffffff;
    --subTextColor: #acacac;
    --reversTextColor: #101010;
    --switchBtn: #292929;
    --switchBtnActive: #f9ec00;
    --switchBtnActiveColor: #101010;
    --switchBtnSpan: #f9ec00;
    --switchBtnSpanColor: #f9ec00;
    --switchBtnActiveSpan: #101010;
    --switchBtnActiveSpanColor: #101010;
    --viewBg: #292929;
    --viewCircle: #f9ec00;
    --viewColor: #aaaaaa;
    --viewColorActive: #101010;
    --ItemBg: #101010;
    --itemColor: #fff;
    --itemBorder: rgba(161, 172, 185, 0.2);
    --notif: #f9ec00;
    --notifColor: #101010;
    --notifCancel: #bb2323;
    --btnBg: #fff;
    --btnBgSVG: #101010;
    --btnBgActive: #101010;
    --btnBgActiveSVG: #f9ec00;
    --btnBgActiveSVGrow: #fff;
    --btnBorder: unset;
    --searchBg: #f4f4f4;
    --filterBg: #1d1d1d;
    --filterBorder: 0.1rem solid rgba(255, 255, 255, 0.2);
    --unreadBg: #101010;
    --readBg: #1D1D1D;
    --unreadBorder: none;
    --readBorder: 0.1rem solid #acacac;
}
body.color_pl .incoming-requests {
    --normalTextColor: #101010;
    --subTextColor: #acacac;
    --reversTextColor: #fff;
    --switchBtn: #f4f4f4;
    --switchBtnActive: #d01181;
    --switchBtnActiveColor: #fff;
    --switchBtnSpan: #101010;
    --switchBtnSpanColor: #fff;
    --switchBtnActiveSpan: #101010;
    --switchBtnActiveSpanColor: #fff;
    --viewBg: #a1acb9;
    --ItemBgColor: #101010;
    --viewCircle: #f1f4f6;
    --viewColor: #6c747e;
    --viewColorActive: #101010;
    --ItemBg: #d5dce1;
    --itemColor: #101010;
    --itemBorder: rgba(161, 172, 185, 0.2);
    --notif: #d01181;
    --notifColor: #fff;
    --notifCancel: #bb2323;
    --btnBg: #fff;
    --btnBgSVG: #101010;
    --btnBgActive: #101010;
    --btnBgActiveSVG: #fff;
    --btnBgActiveSVGrow: #101010;
    --btnBorder: unset;
    --searchBg: #f1f4f6;
    --filterBg: #f1f4f6;
    --filterBorder: unset;
    --readBg: #ffffff;
    --unreadBg: #A1ACB9;
    --readBorder: 0.1rem solid rgba(161, 172, 185, 0.20);
    --unreadBorder: none;
}
body.color_pd .incoming-requests {
    --normalTextColor: #ffffff;
    --subTextColor: #acacac;
    --reversTextColor: #101010;
    --switchBtn: #292929;
    --switchBtnActive: #d01181;
    --switchBtnActiveColor: #fff;
    --switchBtnSpan: #d01181;
    --switchBtnSpanColor: #fff;
    --switchBtnActiveSpan: #fff;
    --switchBtnActiveSpanColor: #d01181;
    --viewBg: #a1acb9;
    --ItemBgColor: #101010;
    --viewCircle: #f1f4f6;
    --viewColor: #6c747e;
    --viewColorActive: #101010;
    --ItemBg: #f1f4f6;
    --itemColor: #101010;
    --itemBorder: rgba(161, 172, 185, 0.2);
    --notif: #d01181;
    --notifColor: #fff;
    --notifCancel: #bb2323;
    --btnBg: #fff;
    --btnBgSVG: #101010;
    --btnBgActive: #101010;
    --btnBgActiveSVG: #d01181;
    --btnBgActiveSVGrow: #fff;
    --btnBorder: 0.1rem solid var(--black, #101010);
    --searchBg: #f1f4f6;
    --filterBg: #101010;
    --filterBorder: 0.1rem solid var(--black, #101010);
    --readBg: #101010;
    --unreadBg: #F1F4F6;
    --readBorder: 0.1rem solid #ACACAC;
    --unreadBorder: none;
}

.incoming-requests {
    &__top {
        display: flex;
        gap: 2rem;
        align-items: center;
        margin-bottom: 3.2rem;
    }

    &__title {
        font-size: 3.2rem;
        letter-spacing: 0.032rem;
        line-height: 100%;
        font-weight: 500;
        color: var(--normalTextColor);
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
    }

    &__search {
        display: flex;
        gap: 1.4rem;
        align-items: center;
        background-color: var(--searchBg);
        color: #101010;
        padding: 1.4rem 2.4rem 1.3rem;
        border-radius: 1.6rem;
        width: 115.2rem;
    }

    &__filters {
        display: flex;
        align-items: center;
        gap: 1.6rem;
    }

    &__filter {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        width: 27.6rem;
        position: relative;

        &__title {
            color: var(--subTextColor);
            font-weight: 500;
            line-height: 93.75%;
        }

        &__input-wrapper {
            border-radius: 1.6rem;
            background-color: var(--filterBg);
            border: var(--filterBorder);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1.1rem 1.6rem;

            svg {
                transition: transform 0.2s ease;
            }

            &.open {
                svg {
                    transform: rotate(180deg);
                }
            }
        }

        &__dropdown {
            display: none;
            position: absolute;
            width: 100%;
            border-radius: 1.6rem;
            top: calc(100% + 0.8rem);
            left: 0;
            right: 0;
            padding: 1.1rem 1.6rem;
            background-color: var(--filterBg);
            border: var(--filterBorder);
            z-index: 100;

            label {
                padding: 0.8rem 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 0.1rem solid rgba(161, 172, 185, 0.2);
            }
        }

        &--reset {
            position: relative;
            letter-spacing: 0.016rem;
            padding-top: 2rem;
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                background-color: var(--normalTextColor);
                height: 0.1rem;
            }
        }
    }

    &__subtitle {
        color: var(--subTextColor);
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 120%;

        display: flex;
        align-items: center;
        gap: 1.6rem;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 3.2rem;
    }

    &__box {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;   

        &--unread{
            .incoming-requests__item{
                background-color: var(--unreadBg);
                border: var(--unreadBorder);
                font-weight: 600;

                &__title{
                    font-weight: 600;
                }
            }  
        }

        &--read{
            .incoming-requests__item{
                background-color: var(--readBg);
                border: var(--readBorder);
            }  
        }
    }
    &__btns {
        display: flex;
        gap: 1rem;
        margin-bottom: 4rem;
    }
    &__btn {
        height: 4.5rem;
        display: flex;
        align-items: center;
        padding: 0 3.2rem;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.016rem;
        border-radius: 2rem;
        color: var(--normalTextColor);
        background: var(--switchBtn);
        cursor: pointer;
        gap: 1rem;

        span {
            width: 2.4rem;
            height: 2.4rem;
            color: var(--switchBtnSpanColor);
            background: var(--switchBtnSpan);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            font-size: 1.2rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.012rem;
        }

        &.active {
            background: var(--switchBtnActive);
            color: var(--switchBtnActiveColor);
            font-weight: 500;

            span {
                color: var(--switchBtnActiveSpanColor);
                background: var(--switchBtnActiveSpan);
            }
        }
    }
    &__change {
        display: flex;
        width: fit-content;
        margin-left: auto;
        height: 4.6rem;
        background: var(--viewBg);
        border-radius: 2.4rem;
        align-items: center;
        padding: 0 1.1rem;
        gap: 1.7rem;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 4.2rem;
            height: 4.2rem;
            background: var(--viewCircle);
            border-radius: 50%;
            z-index: 0;
            right: 4.2rem;
            transition: right 0.5s ease-in-out;
        }
        &.right {
            &::after {
                right: 0.3rem;
            }
        }
    }
    &__view {
        width: 2.4rem;
        height: 2.4rem;
        position: relative;
        z-index: 1;
        cursor: pointer;
        svg {
            path {
                stroke: var(--viewColor);
            }
            circle {
                fill: var(--viewColor);
            }
        }

        &.active {
            svg {
                path {
                    stroke: var(--viewColorActive);
                }
                circle {
                    fill: var(--viewColorActive);
                }
            }
        }

        svg {
            width: 2.4rem;
            height: 2.4rem;
        }
    }
    &__other {
        .incoming-requests {
            &__box {
                display: flex;
                gap: 2rem;
                flex-wrap: wrap;
                max-height: calc(100vh - 33.6rem);
                overflow: auto;
            }
            &__item {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                margin-right: 13.5rem;

                &__img {
                    display: none;
                }

                &__star{
                    display: block;
                }

                &__info {
                    flex-direction: row;
                    align-items: center;
                    gap: 8rem;
                    width: 100%;
                    padding: 2.1rem 2.5rem 2.2rem 2.4rem;
                }

                &__details {
                    order: 3;
                    margin-left: auto;
                    color: var(--normalTextColor);
                    .request-id {
                        display: none;
                    }
                }

                &__subtitle {
                    align-items: flex-start;
                    width: 16.5rem;
                    .request-category {
                        display: none;
                    }
                }

                &__title {
                    .request{
                        display: none;
                    }

                    .company{
                        width: 17.3rem;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    &--row {
                        display: block;
                        max-width: 34rem;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        color: var(--normalTextColor);
                    }
                }

                &__btn {
                    display: none;
                }
            }
        }
    }

    .switcher__container {
        margin-top: 3.2rem;
    }

    &__item {
        border-radius: 1.6rem;
        overflow: hidden;
        padding: unset;
        width: 36.75rem;

        &__img {
            height: 16rem;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &__star{
            display: none;
        }

        &__info {
            padding: 2rem;
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
            color: var(--normalTextColor);
        }

        &__details {
            display: flex;
            justify-content: space-between;
        }

        &__title {
            font-size: 1.8rem;
            line-height: 120%;
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
            font-weight: 500;

            &--row {
                display: none;
            }
        }

        &__subtitle {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .request-status {
                border-radius: 1.6rem;
                color: var(--notifColor);
                background-color: var(--notif);
                padding: 0.4rem 1.2rem;
                letter-spacing: 0.014rem;
                font-size: 1.4rem;
                white-space: nowrap;

                &.cancel {
                    color: #fff;
                    background: var(--notifCancel);
                }

                &.waiting {
                    background-color: #d7d7d7;
                    color: #101010;
                }
            }
        }

        &__btn {
            margin-top: 1.2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: var(--btnBg);
            padding: 0.65rem 0.7rem 0.65rem 1.6rem;
            border-radius: 3.2rem;
            border: var(--btnBorder);
        }
    }
}

body.color_pd {
    .incoming-requests__item {
        background-color: #fff;
        border: unset;
    }
}
