body .making-request {
    --textColor: #101010;
    --Bg: #fff;
    --stepsBg: #f4f4f4;
    --stepsBorder: none;
    --stepText: rgba(16, 16, 16, 0.3);
    --stepActiveBg: #101010;
    --stepActiveText: #ffffff;
    --inputBg: #ffffff;
    --inputBorder: unset;
}
body.color_yd .making-request {
    --textColor: #fff;
    --Bg: #1d1d1d;
    --stepsBg: #292929;
    --stepsBorder: none;
    --stepText: #acacac;
    --stepActiveBg: #101010;
    --stepActiveText: #ffffff;
    --inputBg: #292929;
    --inputBorder: unset;
}
body.color_pl .making-request {
    --textColor: #101010;
    --Bg: #fff;
    --stepsBg: #f1f4f6;
    --stepsBorder: none;
    --stepText: rgba(16, 16, 16, 0.3);
    --stepActiveBg: #101010;
    --stepActiveText: #ffffff;
    --inputBg: #ffffff;
    --inputBorder: unset;
}
body.color_pd .making-request {
    --textColor: #fff;
    --Bg: #101010;
    --stepsBg: #101010;
    --stepsBorder: 0.1rem solid rgba(255, 255, 255, 0.2);
    --stepText: #acacac;
    --stepActiveBg: #d01181;
    --stepActiveText: #ffffff;
    --inputBg: #101010;
    --inputBorder: 0.1rem solid rgba(255, 255, 255, 0.2);
}

.making-request {
    background-color: var(--Bg);

    &__top {
        display: flex;
        gap: 2rem;
        align-items: center;
        margin-bottom: 4rem;

        .title {
            font-size: 3.2rem;
            font-weight: 500;
            line-height: 100%;
            letter-spacing: 0.032rem;
            color: var(--textColor);
        }
    }

    &__content {
        display: flex;
        gap: 2rem;
    }

    &__left {
        flex: 1;
    }

    &__steps {
        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 1.6rem;
        height: 3rem;
        width: 34.3rem;
        overflow: hidden;
        background-color: var(--stepsBg);
        border: var(--stepsBorder);
        margin: 0 auto;
        margin-bottom: 3.2rem;
    }

    &__step {
        color: var(--stepText);
        text-align: center;
        letter-spacing: 0.016rem;
        padding: 0.525rem 3.5rem 0.575rem;
        border-radius: 1.6rem;

        &--active {
            background-color: var(--stepActiveBg);
            color: var(--stepActiveText);
        }
    }

    &__steps-container {
        padding: 3.2rem 2.4rem;
    }

    // form
    &__step-content {
        .form {
            gap: unset;

            &__title {
                font-size: 2.4rem;
                font-weight: 500;
                line-height: 100%;
                letter-spacing: 0.024rem;
                margin-bottom: 4rem;
            }

            &__items {
                display: flex;
                flex-direction: column;
                gap: 1.6rem;
                margin-bottom: 4rem;
            }

            &__item {
                &--textarea {
                    align-items: start;

                    textarea {
                        width: 100%;
                        resize: none;
                        height: 15.7rem;
                        font-weight: 500;
                    }
                }
            }

            &__input {
                height: unset;

                display: flex;
                gap: 2rem;

                &--file {
                    cursor: pointer;
                    display: flex;
                    justify-content: space-between;
                    align-items: end;

                    input {
                        display: none;
                    }

                    &__name {
                        font-weight: 500;
                    }

                    &__icon {
                        cursor: pointer;
                        width: 2.4rem;
                        height: 2.4rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        svg {
                            width: 1.4rem;
                            height: 1.6rem;

                            path {
                                stroke: var(--textColor);
                            }
                        }
                    }
                }
            }

            &__btns {
                justify-content: flex-end;
                display: flex;
                gap: 4rem;
                align-items: center;

                .go-back-link {
                    letter-spacing: 0.016rem;
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        width: 100%;
                        height: 0.1rem;
                        background-color: #101010;
                    }
                }
            }

            &__btn {
                width: 34.2rem;
            }

            &__name--file {
                position: relative;

                svg {
                    cursor: pointer;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 2rem;
                    width: 1.4rem;
                    height: 1.4rem;
                    &:hover {
                        & ~ .add-file-hint {
                            opacity: 1;
                        }
                    }
                }

                .add-file-hint {
                    position: absolute;
                    top: 25%;
                    right: -92%;
                    opacity: 0;
                    transition: opacity 0.2s ease;
                    width: 19.2rem;
                    height: 8.1rem;
                    color: var(--Bg);
                    font-size: 1.4rem;
                    font-weight: 400;
                    letter-spacing: 0.014rem;
                    padding: 0.8rem 1rem 0.9rem 1.8rem;

                    background-image: url("./../../assets/images/common/hint-bg.svg");
                    background-size: 19.2rem 8.1rem;
                    background-repeat: no-repeat;
                }
            }

            &__thumbnails-container {
                display: flex;
                gap: 1rem;
                flex-wrap: wrap;
            }

            &__thumbnail {
                &__img {
                    width: 8rem;
                    height: 8rem;
                    border-radius: 1.6rem;
                    overflow: hidden;
                }
            }
        }
    }

    //form price
    #formPrice {
        .form__items {
            gap: 2rem;
            flex-direction: row;
        }

        .form__input {
            width: 45.9rem;
        }

        .form__btn {
            margin-left: unset;
        }
    }

    //form date
    #formDate {
        .form__btn {
            margin-left: unset;
        }
    }

    &__right {
        width: 29rem;
        height: 79.8rem;
        overflow: hidden;
        border-radius: 1.6rem;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .form__dropdown_bottom {
        top: 7rem;
    }

    .form__dropdown_top span.filled {
        color: var(--textColor);
    }

    .executor-list {
        &__img {
            width: 3.2rem;
            height: 3.2rem;
            border-radius: 100%;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &__option {
            display: flex;
            align-items: center;
            gap: 0.6rem;
            padding: 0.8rem 0;
            border-bottom: 0.1rem solid rgba(161, 172, 185, 0.2);
        }

        &__radio {
            margin-left: auto;
        }
    }
}

#datepicker {
    position: relative;
}

.ui-datepicker {
    position: absolute;
    top: calc(100% + 8rem);
    left: 0;
    z-index: 9999;
    background-color: #fff;
    margin-top: 3rem;
    margin-left: -1.6rem;
    margin-right: -1.6rem;
    border-radius: 1.6rem;
    width: 94.8rem;
    padding: 2rem;

    box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);

    .ui-datepicker-header {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.4rem;
        margin-bottom: 1.2rem;
    }

    .ui-datepicker-calendar {
        width: 30.4rem;
        margin: 0 auto;

        td {
            height: 4rem;
            width: 4rem;
            text-align: center;
            font-weight: 500;
        }
    }

    .ui-datepicker-prev {
        order: 1;
        display: block;
        width: 2.4rem;
        height: 2.4rem;
        background-image: url("./../../assets/images/calendar/arrow-prew-black.svg");
        background-size: 2.4rem 2.4rem;
        background-repeat: no-repeat;
    }
    

    .ui-datepicker-title {
        order: 2;

        span {
            font-weight: 500;
        }
    }

    .ui-datepicker-next {
        order: 3;
        display: block;
        width: 2.4rem;
        height: 2.4rem;
        background-image: url("./../../assets/images/calendar/arrow-next-black.svg");
        background-size: 2.4rem 2.4rem;
        background-repeat: no-repeat;
    }

    .ui-datepicker-today {
        background-color: #101010;
        color: #fff;
        border-radius: 100%;
        overflow: hidden;
    }

    .ui-datepicker-week-end {
        color: #acacac;
    }
}

#ui-datepicker-div{
    display: none;
}
