body .making-request {
    --textColor: #101010;
    --Bg: #fff;
    --stepsBg: #f4f4f4;
    --stepsBorder: none;
    --stepText: rgba(16, 16, 16, 0.3);
    --stepActiveBg: #101010;
    --stepActiveText: #ffffff;
    --inputBg: #ffffff;
    --inputBorder: unset;
    --inputTitle: #101010;
    --addFileHintBg: unset;
    --addFileHintColor: #101010;
    --iconColor: #101010;
}
body.color_yd .making-request {
    --textColor: #fff;
    --Bg: #1d1d1d;
    --stepsBg: #292929;
    --stepsBorder: none;
    --stepText: #acacac;
    --stepActiveBg: #101010;
    --stepActiveText: #ffffff;
    --inputBg: #292929;
    --inputBorder: unset;
    --inputTitle: rgba(255, 255, 255, 0.80);
    --addFileHintBg: invert(1);
    --addFileHintColor: #fff;
    --iconColor: #F9EC00;
}
body.color_pl .making-request {
    --textColor: #101010;
    --Bg: #fff;
    --stepsBg: #f1f4f6;
    --stepsBorder: none;
    --stepText: rgba(16, 16, 16, 0.3);
    --stepActiveBg: #101010;
    --stepActiveText: #ffffff;
    --inputBg: #ffffff;
    --inputBorder: unset;
    --inputTitle: #101010;
    --addFileHintBg: unset;
    --addFileHintColor: #fff;
    --iconColor: #101010;
}
body.color_pd .making-request {
    --textColor: #fff;
    --Bg: #101010;
    --stepsBg: #101010;
    --stepsBorder: 0.1rem solid rgba(255, 255, 255, 0.2);
    --stepText: #acacac;
    --stepActiveBg: #d01181;
    --stepActiveText: #ffffff;
    --inputBg: #101010;
    --inputBorder: 0.1rem solid rgba(255, 255, 255, 0.2);
    --inputTitle: rgba(255, 255, 255, 0.80);
    --addFileHintBg: invert(1);
    --addFileHintColor: #101010;
    --iconColor: #d01181;
}

.making-request {

    &__top {
        display: flex;
        gap: 2rem;
        align-items: center;
        margin-bottom: 4rem;

        .title {
            font-size: 3.2rem;
            font-weight: 500;
            line-height: 100%;
            letter-spacing: 0.032rem;
            color: var(--textColor);
        }
    }

    &__content {
        display: flex;
        gap: 2rem;
    }

    &__left {
        flex: 1;
    }

    &__steps {
        display: flex;
        align-items: center;
        justify-content: space-between;

        border-radius: 1.6rem;
        height: 3rem;
        width: 34.3rem;
        overflow: hidden;
        background-color: var(--stepsBg);
        border: var(--stepsBorder);
        margin: 0 auto;
        margin-bottom: 3.2rem;
    }

    &__step {
        color: var(--stepText);
        text-align: center;
        letter-spacing: 0.016rem;
        padding: 0.525rem 3.5rem 0.575rem;
        border-radius: 1.6rem;

        &--active {
            background-color: var(--stepActiveBg);
            color: var(--stepActiveText);
        }
    }

    &__steps-container {
        padding: 3.2rem 2.4rem;
    }

    &__step-content {
        .form {
            gap: unset;

            &__name{
                color: var(--inputTitle);
            }

            &__title {
                font-size: 2.4rem;
                font-weight: 500;
                line-height: 100%;
                letter-spacing: 0.024rem;
                margin-bottom: 4rem;
            }

            &__items {
                display: flex;
                flex-direction: column;
                gap: 1.6rem;
                margin-bottom: 4rem;
            }

            &__item {
                &--textarea {
                    align-items: start;
                    color: var(--textColor);

                    .form__input{
                        flex-direction: column;
                        gap: unset;
                        color: var(--textColor);
                        border: var(--inputBorder);

                        & input::placeholder{
                            color: #ACACAC;
                        }
                    }

                    textarea {
                        width: 100%;
                        resize: none;
                        height: 15.7rem;
                        font-weight: 500;
                        color: var(--textColor);
                    }

                    .max-length, .max-length span{
                       align-self: flex-end;
                        color: #ACACAC;
                        font-size: 1.2rem;
                        line-height: 125%;
                        font-weight: 500;
                    }
                }
            }

            &__input {
                height: unset;
                background-color: var(--inputBg);
                color: var(--textColor);
                border: var(--inputBorder);
                display: flex;
                gap: 2rem;
            }

            &__btns {
                justify-content: flex-end;
                display: flex;
                gap: 4rem;
                align-items: center;

                .go-back-link {
                    letter-spacing: 0.016rem;
                    position: relative;
                    color: var(--textColor);

                    &::after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        width: 100%;
                        height: 0.1rem;
                        background-color: var(--textColor);
                    }
                }
            }

            &__btn {
                width: 34.2rem;
            }

            &__name--file {
                display: flex;
                align-items: center;
                gap: 1rem;
                position: relative;

                svg {
                    cursor: pointer;
                    width: 1.2rem;
                    height: 1.2rem;

                    path{
                        stroke: var(--iconColor)
                    }

                    &:hover {
                        & ~ .add-file-hint {
                            opacity: 1;
                        }
                    }
                }

                .add-file-hint {
                    pointer-events: none;
                    position: absolute;
                    z-index: 10;
                    top: 25%;
                    right: -92%;
                    opacity: 0;
                    transition: opacity 0.2s ease;
                    width: 19.2rem;
                    height: 8.1rem;
                    color: var(--Bg);
                    font-size: 1.4rem;
                    font-weight: 400;
                    letter-spacing: 0.014rem;
                    padding: 0.8rem 1rem 0.9rem 1.8rem;

                    background-image: url("./../../assets/images/common/hint-bg.svg");
                    background-size: 19.2rem 8.1rem;
                    background-repeat: no-repeat;
                    filter: var(--addFileHintBg);
                    color: #fff;
                }
            }
        }
    }

    #formPrice {
        .form__items {
            gap: 2rem;
            flex-direction: row;
        }

        .form__input {
            width: 45.9rem;
        }

        .form__btn {
            margin-left: unset;
        }
    }

    #formDate {
        .form__btn {
            margin-left: unset;
        }
    }

    &__right {
        width: 29rem;
        height: 79.8rem;
        overflow: hidden;
        border-radius: 1.6rem;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .form__dropdown_bottom {
        top: 7rem;
        z-index: 100;
        background-color: var(--inputBg);
        border: var(--inputBorder);
        color: var(--textColor);
    }

    .form__dropdown_top{
        background-color: var(--inputBg);
        color: var(--textColor);
        border: var(--inputBorder);

        svg{
            path{
                stroke: var(--iconColor)
            }
        }
    }

    .form__dropdown_top span.filled {
        color: var(--textColor);
    }

    .executor-list {
        &__img {
            width: 3.2rem;
            height: 3.2rem;
            border-radius: 100%;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &__option {
            display: flex;
            align-items: center;
            gap: 0.6rem;
            padding: 0.8rem 0;
            border-bottom: 0.1rem solid rgba(161, 172, 185, 0.2);
            cursor: pointer;
        }

        &__radio {
            margin-left: auto;
        }
    }

    //datepicker
    .ui-datepicker {
        .ui-datepicker-header {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.4rem;
            margin-bottom: 1.2rem;
        }
    
        .ui-datepicker-calendar {
            width: 30.4rem;
            margin: 0 auto;
    
            td {
                height: 4rem;
                width: 4rem;
                text-align: center;
                font-weight: 500;
            }
        }
    
        .ui-datepicker-prev {
            order: 1;
            display: block;
            width: 2.4rem;
            height: 2.4rem;
            background-image: url("./../../assets/images/calendar/arrow-prew-black.svg");
            background-size: 2.4rem 2.4rem;
            background-repeat: no-repeat;
        }
        
        .ui-datepicker-title {
            order: 2;
    
            span {
                font-weight: 500;
            }
        }
    
        .ui-datepicker-next {
            order: 3;
            display: block;
            width: 2.4rem;
            height: 2.4rem;
            background-image: url("./../../assets/images/calendar/arrow-next-black.svg");
            background-size: 2.4rem 2.4rem;
            background-repeat: no-repeat;
        }
    
        .ui-datepicker-current-day {
            background-color: #101010;
            color: #fff;
            border-radius: 100%;
            overflow: hidden;
        }
    
        .ui-datepicker-week-end {
            color: #acacac;
        }
    }
    
    .ui-state-default, .ui-widget-header, .ui-widget-content a{
        color: unset !important;
        background-color: unset !important;
        border: unset !important;
    }
    
    .ui-widget.ui-widget-content{
        border: unset;
    }
}

body.color_yd .making-request{
    .ui-datepicker {
        color: #fff;
        background-color: #292929;
        box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
    
        .ui-datepicker-prev {
            filter: invert(1);
        }
    
        .ui-datepicker-next {
            filter: invert(1);
        }
    
        .ui-datepicker-current-day {
            background-color: #F9EC00;
            color: #101010;
        }
    } 
}

body.color_pd .making-request{
    .ui-datepicker {
        color: #fff;
        background-color: #101010;
        border:  0.1rem solid rgba(255, 255, 255, 0.20);;
        box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
    
        .ui-datepicker-prev {
            filter: invert(1);
        }
    
        .ui-datepicker-next {
            filter: invert(1);
        }
    
        .ui-datepicker-current-day {
            background-color: #D01181;
            color: #101010;
        }
    } 
}

#ui-datepicker-div{
    display: none;
}