body .news {
    --textColor: #101010;
    --addNewsBg: #f4f4f4;
    --addNewsText: #101010;
    --addNewsIconStroke: #ffffff;
    --cardBg: #f4f4f4;
    --cardText: #101010;
    --textMuted: #acacac;
    --addNewsBtnBg: #101010;
}

body.color_yd .news {
    --textColor: #ffffff;
    --addNewsBg: #F9EC00;
    --addNewsText: #101010;
    --addNewsIconStroke: #F9EC00;
    --cardBg: #101010;
    --cardText: #ffffff;
    --textMuted: #acacac;
    --addNewsBtnBg: #101010;
}

body.color_pl .news {
    --textColor: #101010;
    --addNewsBg: #f4f4f4;
    --addNewsText: #101010;
    --addNewsIconStroke: #ffffff;
    --cardBg: #f1f4f6;
    --cardText: #101010;
    --textMuted: #A1ACB9;
    --addNewsBtnBg: #D01181;
}

body.color_pd .news {
    --textColor: #FFFFFF;
    --addNewsBg: #f4f4f4;
    --addNewsText: #101010;
    --addNewsIconStroke: #ffffff;
    --cardBg: #f1f4f6;
    --cardText: #101010;
    --textMuted: #A1ACB9;
    --addNewsBtnBg: #D01181;
}

.news {
    color: var(--textColor);

    &__content {
        width: 122rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .btn__add-news {
        margin-left: auto;
        display: flex;
        gap: 1rem;
        align-items: center;
        padding: 0.5rem 0.5rem 0.5rem 1.2rem;
        border-radius: 5.2rem;
        background-color: var(--addNewsBg);
        color: var(--addNewsText);

        span {
            letter-spacing: 0.016rem;
            font-size: 1.6rem;
            font-weight: 400;
        }

        svg {
            width: 4rem;
            height: 4rem;

            path{
                stroke: var(--addNewsIconStroke);
            }

            circle{
                fill: var(--addNewsBtnBg)
            }
        }
    }

    &__card {
        background-color: var(--cardBg);
        color: var(--cardText);
        border-radius: 3.2rem;
        overflow: hidden;
        letter-spacing: 0.016rem;
        display: flex;

        &__swiper {
            width: 60.2rem;
            position: relative;

            img {
                width: 100%;
                height: 100%;
            }

            .swiper-pagination{
                z-index: 100;
                position: absolute;
                bottom: 2rem;
                left: 50%;
                transform: translate(-50%);
                width: 4rem;
                height: 0.8rem;
                display: flex;
                gap: 0.8rem;

                .swiper-pagination-bullet{
                    width: 0.8rem;
                    height: 0.8rem;
                    border-radius: 100%;
                    background-color: #D7D7D7;

                    &-active{
                        background-color: #101010;
                    }
                }
            }
        }

        &__content {
            padding: 2.4rem;
            color: var(--cardText);
            width: 61.8rem;
        }

        &__date {
            color: var(--textMuted);
            margin-bottom: 0.8rem;
        }

        &__title {
            letter-spacing: 0.024rem;
            font-weight: 500;
            line-height: 100%;
            margin-bottom: 1.2rem;
        }

        &__link {
            position: relative;
            display: inline-block;
            margin-bottom: 0.8rem;

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                background-color: var(--cardText);
                height: 0.1rem;
            }
        }

        &__about {
            padding-left: 0.6rem;
            position: relative;
            margin-bottom: 1.2rem;

            display: flex;
            gap: 1.8rem;

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                top: 0;
                left: 0;
                width: 100%;
                background-color: var(--cardText);
                width: 0.1rem;
            }

            &__info {
                width: 33.1rem;
                display: flex;
                flex-direction: column;
                gap: 0.4rem;

                .link,
                .title {
                    font-weight: 500;
                }

                .desc {
                }
            }

            &__img {
                width: 9.4rem;
                height: 5.3rem;
                border-radius: 0.8rem;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        &__desc{
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            margin-bottom: 1.2rem;

            span{
                display: block;
            }

            &.open{
                -webkit-line-clamp: unset;
            }

        }

        &__toggle{
            display: inline-block;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                right: 0;
                left: 0;
                width: 100%;
                background-color: var(--cardText);
                height: 0.1rem;
            }
        }
    }
}