body .users {
    --mainTheme:#F9EC00;
    --mainThemeColor:#000;
    --borderAdd: none;
    --normalTextColor: #101010;
    --subTextColor: #ACACAC;
    --reversTextColor: #FFF;
    --switchBtn: #f4f4f4;
    --switchBtnActive: #101010;
    --switchBtnActiveColor: #FFF;
    --backgroundCard: #F4F4F4;
    --settingsSwitchActive: #101010;
    --settingsSwitchActiveColor: #FFF;
    --inputBg:#FFF;
    --userActive: #D7D7D7;
    --userActiveText: #101010;
    --userActiveSVG: #101010;
    --userBorder: none;
    --tenantBtn: #101010;
    --tenantBtnText: #FFF;
    --tabs: #ACACAC;
    --tabsActive: #292929;
}
body.color_yd .users {
    --mainTheme:#F9EC00;
    --mainThemeColor:#101010;
    --borderAdd: none;
    --normalTextColor: #FFFFFF;
    --subTextColor: #ACACAC;
    --reversTextColor: #101010;
    --switchBtn: #292929;
    --switchBtnActive: #F9EC00;
    --switchBtnActiveColor: #101010;
    --backgroundCard: #101010;
    --settingsSwitchActive: #F9EC00;
    --settingsSwitchActiveColor: #101010;
    --inputBg:#292929;
    --userActive: #292929;
    --userActiveText: #FFF;
    --userActiveSVG: #FFFFFF;
    --userBorder: 0.2rem solid rgba(255, 255, 255, 0.30);
    --tenantBtn: #F4F4F4;
    --tenantBtnText: #101010;
    --tabs: rgba(255, 255, 255, 0.30);
    --tabsActive: #FFF;
}
body.color_pl .users {
    --mainTheme:#D01181;
    --mainThemeColor:#FFFFFF;
    --borderAdd: none;
    --normalTextColor: #101010;
    --subTextColor: #ACACAC;
    --reversTextColor: #FFF;
    --switchBtn: #f4f4f4;
    --switchBtnActive: #D01181;
    --switchBtnActiveColor: #FFF;
    --backgroundCard: #F1F4F6;
    --settingsSwitchActive: #101010;
    --settingsSwitchActiveColor: #FFF;
    --inputBg:#FFF;
    --userActive: #A1ACB9;
    --userActiveText: #FFF;
    --userActiveSVG: #FFF;
    --userBorder: none;
    --tenantBtn: #101010;
    --tenantBtnText: #FFF;
    --tabs: #ACACAC;
    --tabsActive: #292929;
}
body.color_pd .users {
    --mainTheme:#D01181;
    --mainThemeColor:#FFFFFF;
    --borderAdd: 0.1rem solid rgba(255, 255, 255, 0.20);
    --normalTextColor: #FFFFFF;
    --subTextColor: #ACACAC;
    --reversTextColor: #101010;
    --switchBtn: #101010;
    --switchBtnActive: #D01181;
    --switchBtnActiveColor: #FFF;
    --backgroundCard: #101010;
    --settingsSwitchActive: #D01181;
    --settingsSwitchActiveColor: #FFF;
    --inputBg:#101010;
    --userActive: #101010;
    --userActiveText: #FFF;
    --userActiveSVG: #FFF;
    --userBorder: 0.1rem solid #FFF;
    --tenantBtn: #F4F4F4;
    --tenantBtnText: #101010;
    --tabs: rgba(255, 255, 255, 0.30);
    --tabsActive: #FFF;
}

.users {
    &__container {
        display: flex;
        justify-content: space-between;
    }
    &__left {
        padding: 2.4rem 2.4rem;
        width: 104.5rem;
        border-radius: 1.6rem;
        background: var(--backgroundCard);
        height: fit-content;
        border: var(--borderAdd);
    }
    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;

        &_title {
            font-size: 2.4rem;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            letter-spacing: 0.024rem;
            color: var(--normalTextColor);
        }
        &_add {
            width: 5.1rem;
            height: 5.1rem;

            svg {
                width: 5.1rem;
                height: 5.1rem;

                circle {
                    fill: var(--mainTheme);
                }
                path {
                    stroke: var(--mainThemeColor);
                }
            }
        }
        &_search {
            height: 5.1rem;
            display: flex;
            align-items: center;
            width: 32.6rem;
            border-radius: 1.6rem;
            background: #FFF;
            padding: 0 2.4rem;
            gap: 1.4rem;
            margin: 0 2rem 0 auto;

            svg {
                width: 2.4rem;
                height: 2.4rem;
            }
            input {
                font-size: 1.6rem;
                font-style: normal;
                font-weight: 400;
                line-height: 93.75%;
                width: 100%;
            }
        }
    }
    &__table {

    }
    &__tabs {
        display: flex;
        gap: 1rem;
        width: fit-content;
        position: relative;
        margin-bottom: 2.4rem;

        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 0.1rem;
            background: var(--tabs);
        }
    }
    &__tab {
        color: var(--tabs);
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.016rem;
        padding: 1.2rem 3.2rem;
        cursor: pointer;

        &.active {
            color: var(--tabsActive);
            border-bottom: 0.2rem solid var(--tabsActive);
        }
    }
    &__th {
       display: grid;
       grid-template-columns: 44rem 1fr;
       margin-bottom: 1.2rem;

        & > div {
            color: #ACACAC;
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 500;
            line-height: 93.75%;
        }
    }
    &__tbody {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
    }
    &__item {
        display: grid;
        grid-template-columns: 41.7rem 1fr 2.4rem;
        align-items: center;
        height: 6.4rem;
        padding: 0 2.4rem;

        border-radius: 2rem;
        background: var(--inputBg);
        cursor: pointer;
        color: var(--normalTextColor);
        border: var(--borderAdd);

        & > div {
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 500;
            line-height: 93.75%;
        }
        svg {
            width: 2.4rem;
            height: 2.4rem;

            path {
                stroke: var(--settingsSwitchActive);
            }
        }
        &.active {
            background: var(--userActive);
            color: var(--userActiveText);
            border: var(--userBorder);
            svg {
                path {
                    stroke: var(--userActiveSVG);
                }
            }
        }
    }

    &__tenant {
        width: 44.5rem;
        border-radius: 1.6rem;
        background: var(--backgroundCard);
        padding: 2.4rem;
        height: fit-content;
        border: var(--borderAdd);

        &_title {
            font-size: 2.4rem;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            letter-spacing: 0.024rem;
            margin-bottom: 2.4rem;
            color: var(--normalTextColor);
        }
        &_list {
            display: flex;
            flex-direction: column;
            gap: 1.6rem;
            margin-bottom: 3.2rem;
        }
        &_item {
            display: flex;
            align-items: center;
            border-radius: 1.6rem;
            background: var(--inputBg);
            padding: 0.8rem 1.6rem;
            width: 100%;
            position: relative;
            z-index: 0;
            transition: z-index .4s ease-in-out;
            border: var(--borderAdd);

            &.active {
                z-index: 1;
            }
        }
        &_img {
            width: 4.4rem;
            height: 4.4rem;
            margin-right: 1.2rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }
        }
        &_container {
            display: flex;
            flex-direction: column;
            gap: 0.8rem;

            & > div {
                font-size: 1.6rem;
                font-style: normal;
                font-weight: 400;
                line-height: 87.5%;
                letter-spacing: 0.016rem;
            }
        }
        &_name {
            color: var(--normalTextColor);
        }
        &_job {
            color: #ACACAC;
        }
        &_settings {
            margin-left: auto;
            flex: none;
            cursor: pointer;
            svg {
                width: 2.4rem;
                height: 2.4rem;

                circle {
                    stroke: var(--settingsSwitchActive);
                }
            }
        }
        &_choice {
            position: absolute;
            display: none;
            top: 3rem;
            width: 34.3rem;
            padding: 1.6rem;
            border-radius: 1.6rem;
            background: var(--inputBg);
            color: var(--normalTextColor);
            box-shadow: 0 0.3rem 1.4rem 0 rgba(0, 0, 0, 0.08);

            & > a {
                display: block;
                font-size: 1.6rem;
                font-style: normal;
                font-weight: 400;
                line-height: 87.5%;
                letter-spacing: 0.016rem;
                padding: 0.8rem 0;

                &:first-child {
                    border-bottom: 0.1rem solid rgba(161, 172, 185, 0.20);
                }
            }
        }
        &_btn {
            width: 100%;
            border-radius: 3.2rem;
            background: var(--tenantBtn);
            color: var(--tenantBtnText);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 5.1rem;
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.016rem;
            cursor: pointer;
        }
        &_checkbox {
            margin-left: auto;
        }
        &_add_btn {
            width: 100%;

            &:disabled {
                background: #D7D7D7;
                color: #ACACAC;
            }
        }
    }
}