<!-- modal create (change field type) -->
<div class="modal modal__create">
    <div class="modal-back"></div>
    <div class="modal-wrapper">
        <div class="modal-exit">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56 56" fill="none">
                <circle cx="28" cy="28" r="28" transform="rotate(180 28 28)" fill="#101010" />
                <path d="M20 36L36 20" stroke="white" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M36 36L20 20" stroke="white" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </div>
        <div class="modal-content">
            <div class="modal__create__title">Изменение типа поля</div>
            <form class="modal__create__form">
                <div class="modal__create__form_list">
                    <label class="modal__create__form_item radio-wrapper">
                        <span>Текстовое поле</span>
                        <input type="radio" name="field" data-type="text-input" />
                        <div class="radio-icon"></div>
                    </label>
                    <label class="modal__create__form_item radio-wrapper">
                        <span>Числовое значение</span>
                        <input type="radio" name="field" data-type="number-input" />
                        <div class="radio-icon"></div>
                    </label>
                    <label class="modal__create__form_item radio-wrapper">
                        <span>Дата</span>
                        <input type="radio" name="field" data-type="date-input" />
                        <div class="radio-icon"></div>
                    </label>
                    <label class="modal__create__form_item radio-wrapper">
                        <span>Прикрепление файла</span>
                        <input type="radio" name="field" data-type="file-input" />
                        <div class="radio-icon"></div>
                    </label>
                    <label class="modal__create__form_item radio-wrapper">
                        <span>Номер телефона</span>
                        <input type="radio" name="field" data-type="phone-input" />
                        <div class="radio-icon"></div>
                    </label>
                    <label class="modal__create__form_item radio-wrapper">
                        <span>Комментарий</span>
                        <input type="radio" name="field" data-type="comment-input" />
                        <div class="radio-icon"></div>
                    </label>
                    <label class="modal__create__form_item radio-wrapper">
                        <span>Выбор сотрудников</span>
                        <input type="radio" name="field" data-type="employee-input" />
                        <div class="radio-icon"></div>
                    </label>
                    <label class="modal__create__form_item radio-wrapper">
                        <span>Промежуток дат</span>
                        <input type="radio" name="field" data-type="date-interval-input" />
                        <div class="radio-icon"></div>
                    </label>
                    <label class="modal__create__form_item radio-wrapper">
                        <span>Временной промежуток</span>
                        <input type="radio" name="field" data-type="time-interval-input" />
                        <div class="radio-icon"></div>
                    </label>
                    <label class="modal__create__form_item radio-wrapper">
                        <span>Чек-боксы</span>
                        <input type="radio" name="field" data-type="checkboxes" />
                        <div class="radio-icon"></div>
                    </label>
                    <label class="modal__create__form_item radio-wrapper">
                        <span>Буллиты</span>
                        <input type="radio" name="field" data-type="bullets" />
                        <div class="radio-icon"></div>
                    </label>
                    <label class="modal__create__form_item radio-wrapper">
                        <span>Текст</span>
                        <input type="radio" name="field" data-type="text" />
                        <div class="radio-icon"></div>
                    </label>
                    <label class="modal__create__form_item radio-wrapper">
                        <span>Подзаголовок</span>
                        <input type="radio" name="field" data-type="subtitle" />
                        <div class="radio-icon"></div>
                    </label>
                    <label class="modal__create__form_item radio-wrapper">
                        <span>Ссылка</span>
                        <input type="radio" name="field" data-type="link" />
                        <div class="radio-icon"></div>
                    </label>
                </div>
                <button class="btn" data-modal="close-modal">Изменить</button>
            </form>
        </div>
    </div>
</div>

<!-- modal success -->
<div class="modal modal--sm modal__success">
    <div class="modal-back"></div>
    <div class="modal-wrapper">
        <div class="modal-exit">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56 56" fill="none">
                <circle cx="28" cy="28" r="28" transform="rotate(180 28 28)" fill="#101010" />
                <path d="M20 36L36 20" stroke="white" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M36 36L20 20" stroke="white" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </div>
        <div class="modal-top-img">
            <img class="success-ico" src="./assets/images/common/success-ico.svg" alt="Success" />
        </div>
        <div class="modal-content">
            <div class="modal__success__title">Ваша заявка <br />успешно добавлена</div>
            <div class="modal__success__desc">После модерации заявки Вам придет уведомление с результатом ее добавления</div>
            <button class="btn btn__go-back" data-modal="close-modal">На главную</button>
        </div>
    </div>
</div>

<!-- modal edit employee -->
<div class="modal modal__edit-employee">
    <div class="modal-back"></div>
    <div class="modal-wrapper">
        <div class="modal-exit">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56 56" fill="none">
                <circle cx="28" cy="28" r="28" transform="rotate(180 28 28)" fill="#101010" />
                <path d="M20 36L36 20" stroke="white" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M36 36L20 20" stroke="white" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </div>
        <div class="modal-content">
            <div class="modal__edit-employee__title">Введите данные сотрудника</div>
            <div class="adding_application__item_input modal__edit-employee__input-check">
                <span>Выбрать из списка сотрудников зарегистрированных в приложении</span>
                <label class="checkbox-wrapper">
                    <input type="checkbox" checked />
                    <div class="checkbox-icon"></div>
                </label>
            </div>
            <div class="modal__edit-employee__subtitle">Добавить данные вручную</div>
            <div class="modal__edit-employee__list">
                <div class="modal__edit-employee__list_empty">
                    <div class="modal__edit-employee__add-field">
                        <span>Добавьте поле</span>
                        <button class="btn__add-field">
                            <svg width="51" height="51" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_2021_15566)">
                                    <g clip-path="url(#clip1_2021_15566)">
                                        <circle cx="25.5" cy="25.5" r="25.5" fill="#D01181" />
                                        <path d="M25.5 14.875V36.125" stroke="white" stroke-width="2.125" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M14.875 25.4336H36.125" stroke="white" stroke-width="2.125" stroke-linecap="round" stroke-linejoin="round" />
                                    </g>
                                </g>
                                <defs>
                                    <clipPath id="clip0_2021_15566">
                                        <rect width="51" height="51" fill="white" />
                                    </clipPath>
                                    <clipPath id="clip1_2021_15566">
                                        <rect width="51" height="51" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </button>
                    </div>
                </div>

                <!-- text input -->
                <div class="adding_application__item" data-type="text-input">
                    <div class="adding_application__item_name">
                        <span class="adding_application__item_name_text">ФИО</span>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.5 18.5H16.5" stroke="#101010" stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M11.5 14.9999L8.5 15.5399L9 12.4999L15.73 5.78994C15.823 5.69621 15.9336 5.62182 16.0554 5.57105C16.1773 5.52028 16.308 5.49414 16.44 5.49414C16.572 5.49414 16.7027 5.52028 16.8246 5.57105C16.9464 5.62182 17.057 5.69621 17.15 5.78994L18.21 6.84994C18.3037 6.9429 18.3781 7.0535 18.4289 7.17536C18.4797 7.29722 18.5058 7.42793 18.5058 7.55994C18.5058 7.69195 18.4797 7.82266 18.4289 7.94452C18.3781 8.06637 18.3037 8.17698 18.21 8.26994L11.5 14.9999Z"
                                fill="#101010"
                                stroke="#101010"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                        </svg>
                    </div>
                    <div class="adding_application__item_input-wrapper">
                        <div class="adding_application__item_input">
                            <div class="adding_application__item_input_text">Введите ФИО</div>
                            <div class="adding_application__item_settings">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <circle cx="12" cy="17" r="1" transform="rotate(-180 12 17)" fill="#101010" stroke="#101010" stroke-width="0.5" />
                                    <circle cx="12" cy="12" r="1" transform="rotate(-180 12 12)" fill="#101010" stroke="#101010" stroke-width="0.5" />
                                    <circle cx="12" cy="7" r="1" transform="rotate(-180 12 7)" fill="#101010" stroke="#101010" stroke-width="0.5" />
                                </svg>
                            </div>
                            <div class="adding_application__item_box">
                                <div class="adding_application__item_choices">
                                    <div class="adding_application__item_choice adding_application__item_choice--delete"><span>Удалить поле</span></div>
                                    <div class="adding_application__item_choice adding_application__item_choice--change" data-modal="modal-create">
                                        <span>Изменить тип поля</span>
                                    </div>
                                    <div class="adding_application__item_choice adding_application__item_choice--duplicate"><span>Продублировать поле</span></div>
                                    <label class="adding_application__item_choice checkbox-wrapper">
                                        <span>Обязательное поле</span>
                                        <input class="adding_application__item_choice--checkbox" type="checkbox" />
                                        <div class="checkbox-icon"></div>
                                    </label>
                                    <div class="adding_application__item_choice adding_application__item_choice--hint">
                                        <span>Добавить подсказку</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- text input -->
                <div class="adding_application__item" data-type="text-input">
                    <div class="adding_application__item_name">
                        <span class="adding_application__item_name_text">Должность сотрудника</span>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.5 18.5H16.5" stroke="#101010" stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M11.5 14.9999L8.5 15.5399L9 12.4999L15.73 5.78994C15.823 5.69621 15.9336 5.62182 16.0554 5.57105C16.1773 5.52028 16.308 5.49414 16.44 5.49414C16.572 5.49414 16.7027 5.52028 16.8246 5.57105C16.9464 5.62182 17.057 5.69621 17.15 5.78994L18.21 6.84994C18.3037 6.9429 18.3781 7.0535 18.4289 7.17536C18.4797 7.29722 18.5058 7.42793 18.5058 7.55994C18.5058 7.69195 18.4797 7.82266 18.4289 7.94452C18.3781 8.06637 18.3037 8.17698 18.21 8.26994L11.5 14.9999Z"
                                fill="#101010"
                                stroke="#101010"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                        </svg>
                    </div>
                    <div class="adding_application__item_input-wrapper">
                        <div class="adding_application__item_input">
                            <div class="adding_application__item_input_text">Введите должность</div>
                            <div class="adding_application__item_settings">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <circle cx="12" cy="17" r="1" transform="rotate(-180 12 17)" fill="#101010" stroke="#101010" stroke-width="0.5" />
                                    <circle cx="12" cy="12" r="1" transform="rotate(-180 12 12)" fill="#101010" stroke="#101010" stroke-width="0.5" />
                                    <circle cx="12" cy="7" r="1" transform="rotate(-180 12 7)" fill="#101010" stroke="#101010" stroke-width="0.5" />
                                </svg>
                            </div>
                            <div class="adding_application__item_box">
                                <div class="adding_application__item_choices">
                                    <div class="adding_application__item_choice adding_application__item_choice--delete"><span>Удалить поле</span></div>
                                    <div class="adding_application__item_choice adding_application__item_choice--change" data-modal="modal-create">
                                        <span>Изменить тип поля</span>
                                    </div>
                                    <div class="adding_application__item_choice adding_application__item_choice--duplicate"><span>Продублировать поле</span></div>
                                    <label class="adding_application__item_choice checkbox-wrapper">
                                        <span>Обязательное поле</span>
                                        <input class="adding_application__item_choice--checkbox" type="checkbox" />
                                        <div class="checkbox-icon"></div>
                                    </label>
                                    <div class="adding_application__item_choice adding_application__item_choice--hint">
                                        <span>Добавить подсказку</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- file input -->
                <div class="adding_application__item" data-type="file-input">
                    <div class="adding_application__item_name">
                        <span>Прикрепить фото</span>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.5 18.5H16.5" stroke="#101010" stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M11.5 14.9999L8.5 15.5399L9 12.4999L15.73 5.78994C15.823 5.69621 15.9336 5.62182 16.0554 5.57105C16.1773 5.52028 16.308 5.49414 16.44 5.49414C16.572 5.49414 16.7027 5.52028 16.8246 5.57105C16.9464 5.62182 17.057 5.69621 17.15 5.78994L18.21 6.84994C18.3037 6.9429 18.3781 7.0535 18.4289 7.17536C18.4797 7.29722 18.5058 7.42793 18.5058 7.55994C18.5058 7.69195 18.4797 7.82266 18.4289 7.94452C18.3781 8.06637 18.3037 8.17698 18.21 8.26994L11.5 14.9999Z"
                                fill="#101010"
                                stroke="#101010"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            />
                        </svg>
                    </div>
                    <div class="adding_application__item_input-wrapper">
                        <div class="adding_application__item_input">
                            <div class="adding_application__item_input_text">Выбрать файлы</div>
                            <div class="adding_application__item_settings">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <circle cx="12" cy="17" r="1" transform="rotate(-180 12 17)" fill="#101010" stroke="#101010" stroke-width="0.5" />
                                    <circle cx="12" cy="12" r="1" transform="rotate(-180 12 12)" fill="#101010" stroke="#101010" stroke-width="0.5" />
                                    <circle cx="12" cy="7" r="1" transform="rotate(-180 12 7)" fill="#101010" stroke="#101010" stroke-width="0.5" />
                                </svg>
                            </div>
                            <div class="adding_application__item_box">
                                <div class="adding_application__item_choices">
                                    <div class="adding_application__item_choice adding_application__item_choice--delete"><span>Удалить поле</span></div>
                                    <div class="adding_application__item_choice adding_application__item_choice--change" data-modal="modal-create">
                                        <span>Изменить тип поля</span>
                                    </div>
                                    <div class="adding_application__item_choice adding_application__item_choice--duplicate"><span>Продублировать поле</span></div>
                                    <label class="adding_application__item_choice checkbox-wrapper">
                                        <span>Обязательное поле</span>
                                        <input class="adding_application__item_choice--checkbox" type="checkbox" />
                                        <div class="checkbox-icon"></div>
                                    </label>
                                    <div class="adding_application__item_choice adding_application__item_choice--hint">
                                        <span>Добавить подсказку</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn__save" data-modal="close-modal">Сохранить внесенные изменения</button>
        </div>
    </div>
</div>

<!-- modal edit field -->
<div class="modal modal__edit-field">
    <div class="modal-back"></div>
    <div class="modal-wrapper">
        <div class="modal-exit">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56 56" fill="none">
                <circle cx="28" cy="28" r="28" transform="rotate(180 28 28)" fill="#101010" />
                <path d="M20 36L36 20" stroke="white" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M36 36L20 20" stroke="white" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </div>
        <div class="modal-content">
            <div class="modal__edit-field__title">Отрадактируйте поле</div>
            <div class="modal__edit-field__list">
                <div class="adding_application__item">
                    <span>Добавьте название поля</span>
                    <div class="adding_application__item_input-wrapper">
                        <input type="text" placeholder="Пароль" />
                    </div>
                </div>
                <div class="adding_application__item">
                    <span>Добавьте подсказку вне поля</span>
                    <div class="adding_application__item_input-wrapper">
                        <input class="input-hint" type="text" placeholder="Введите текст подсказки" />
                    </div>
                </div>
                <div class="adding_application__item_input modal__edit-field__input-check">
                    <span>Это поле обязательное</span>
                    <label class="checkbox-wrapper">
                        <input type="checkbox" checked />
                        <div class="checkbox-icon"></div>
                    </label>
                </div>
            </div>
            <button class="btn btn__save" data-modal="close-modal">Сохранить</button>
        </div>
    </div>
</div>

<!-- modal change application type -->
<div class="modal modal__change-application-type">
    <div class="modal-back"></div>
    <div class="modal-wrapper">
        <div class="modal-exit">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56 56" fill="none">
                <circle cx="28" cy="28" r="28" transform="rotate(180 28 28)" fill="#101010" />
                <path d="M20 36L36 20" stroke="white" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M36 36L20 20" stroke="white" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </div>
        <div class="modal-content">
            <div class="modal__title">Вы уверенны, что хотите поменять тип заявки</div>
            <div class="modal__desc">
                При изменении типа заявки шаблон заявки не сохранится
            </div>
            <div class="modal__btns">
                <button class="btn" data-modal="close-modal">Отмена</button>
                <button class="btn btn__change" data-modal="close-modal">Изменить</button>
            </div>
        </div>
    </div>
</div>