//Font
@font-face {
  font-family: 'Gilroy';
  src: url(./../assets/fonts/Gilroy-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url(./../assets/fonts/Gilroy-Medium.woff);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url(./../assets/fonts/Gilroy-Semibold.woff);
  font-weight: 600;
  font-style: normal;
}

// Vars

//common colors
$color-rejected: #BB2323;
$color-border: rgba(161, 172, 185, 0.20);

//common colors yellow
$y-color-accent: #F9EC00;
$y-color-text-muted: #ACACAC;

//theme light yellow
$yl-color-bg: #fff;
$yl-color-container: #F4F4F4;
$yl-color-container-dark: #EEEEEE;
$yl-color-text: #101010;

//theme dark yellow
$yd-color-bg: #1D1D1D;
$yd-color-container: #292929;
$yd-color-container-dark: #101010;
$yd-color-text: #fff;

//common colors pink
$p-color-accent: #D01181;
$p-color-text-muted: #A1ACB9;

//theme light pink
$pl-color-bg: #fff;
$pl-color-container: #F1F4F6;
$pl-color-container-dark: #A1ACB9;
$pl-color-text: #101010;

//theme dark pink
$pd-color-bg: #101010;
$pd-color-container: #292929;
$pd-color-container-dark: #101010;
$pd-color-text: #fff;

//	reset / base styles
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Gilroy', sans-serif;
  color: black;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: normal;
  list-style-type: none;
}

html,
body {
  scroll-behavior: smooth;
}

//gsap
body {
  margin: 0;
  padding: 0;
}

img{
object-fit: cover;
}

.text{
  font-weight: 400;
  font-size: 1.6rem;
  line-height: normal;
  letter-spacing: 0.016rem;
}

