//Font
@font-face {
    font-family: "Gilroy";
    src: url(./../assets/fonts/Gilroy-Regular.woff);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url(./../assets/fonts/Gilroy-Medium.woff);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url(./../assets/fonts/Gilroy-Semibold.woff);
    font-weight: 600;
    font-style: normal;
}

//	reset / base styles
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Gilroy", sans-serif;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: normal;
    list-style-type: none;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;

    &.lock {
        overflow: hidden;
        touch-action: none;
    }
}

section {
    margin-top: 8.9rem;
    margin-left: 33rem;
    height: calc(100vh - 8.9rem);
}

img {
    object-fit: cover;
}

.text {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: normal;
    letter-spacing: 0.016rem;
}

body .container--sm {
    --containerSmBg: #f4f4f4;
        --containerSmBorder: none;
}

body.color_yd .container--sm {
    --containerSmBg: #101010;
        --containerSmBorder: none;
}

body.color_pl .container--sm {
    --containerSmBg: #F1F4F6;
        --containerSmBorder: none;
}

body.color_pd .container--sm {
    --containerSmBg: #101010;
    --containerSmBorder: 0.1rem solid rgba(255, 255, 255, 0.20);
}

.container--sm {
    background-color: var(--containerSmBg);
    border-radius: 1.6rem;
    padding: 2rem;
    border: var(--containerSmBorder);
}

//buttons
.btn {
    border-radius: 3.2rem;
    padding: 1.6rem 14.4rem;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: normal;
    text-wrap: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.016rem;
}

body .btn__save-changes {
    --btnSaveBg: #f9ec00;
    --btnSaveText: #101010;
}

body.color_yd .btn__save-changes {
    --btnSaveBg: #f9ec00;
    --btnSaveText: #101010;
}

body.color_pl .btn__save-changes {
    --btnSaveBg: #D01181;
    --btnSaveText: #FFFFFF;
}

body.color_pd .btn__save-changes {
    --btnSaveBg: #D01181;
    --btnSaveText: #FFFFFF;
}


.btn__save-changes {
    margin-top: auto;
    width: 37.2rem;
    background-color: var(--btnSaveBg);
    color: var(--btnSaveText);
}

.btn__show-all {
    font-size: 1.6rem;
    letter-spacing: 0.016rem;
}

.switcher__content {
    display: none;

    &.active {
        display: block;
    }
}

//radio btn
body .radio-wrapper {
    --radioBg: #101010;
    --checkIco: url("./../assets/images/common/checked-ico.svg");
}

body.color_yd .radio-wrapper {
    --radioBg: #f9ec00;
    --checkIco: url("./../assets/images/common/checked-ico-black.svg");
}

body.color_pl .radio-wrapper {
    --radioBg: #101010;
    --checkIco: url("./../assets/images/common/checked-ico.svg");
}

body.color_pd .radio-wrapper {
    --radioBg: #D01181;
    --checkIco: url("./../assets/images/common/checked-ico-black.svg");
}

.radio-wrapper {
    input[type="radio"] {
        display: none;
    }

    .radio-icon {
        display: block;
        width: 1.8rem;
        height: 1.8rem;
        border: 0.1rem solid var(--radioBg);
        border-radius: 100%;
        background-color: transparent;
    }

    input[type="radio"]:checked ~ .radio-icon {
        background-color: var(--radioBg);
        border: none;
        background-image: var(--checkIco);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 1rem 0.7rem;
    }
}

.switcher__content {
    display: none;

    &.active {
        display: block;
    }
}
